@{
    ViewData["Title"] = "Bowler Submitted";
}

@model Mission13.Models.Bowler

@*awesome confirmation message*@

<h2>The fantastic bowler, @Model.BowlerFirstName @Model.BowlerLastName, has been submitted!</h2>
